div.animation span {
  display: inline-block;
  animation-duration: .3s;
}

div.scaleIn span,
div.warn span,
div.slideIn span {
  opacity: 0;
}

span.scaleIn {
  animation: scaleIn;
  animation-fill-mode: forwards;
}

@keyframes scaleIn {
  0% {
    transform: scale(4,4);
  }

  100% {
    transform: scale(1,1);
    opacity: 1;
  }
}

span.warn {
  animation: warn;
  animation-fill-mode: forwards;
}

@keyframes warn {
  0% {
    opacity: 0;
    color: white;
  }

  100% {
    opacity: 1;
    color: red;
  }
}

span.slideIn {
  animation: slideIn;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
