#user-death {
  z-index: 999999;
  position: fixed;
  display: none;
  width: 90%;
  max-width: 550px;
  top: 2rem;
  left: 0;
  color: white;
  text-align: center;
}

#user-death p {
  margin: .5rem auto;
}

#user-death div {
  color: red;
  font-size: 2rem;
}

#user-death a {
  margin: .5rem auto;
}

#death-case::before {
  content: "사망원인: ";
}

#death-img canvas {
  width: 100%;
  border-radius: 1rem;
}

#death-messege {
  text-align: left;
}

#death-messege::after,
#death-messege::before {
  content: "\"";
}
