#user-init-input {
  display: none;
}

input[type=text],
input[type=button],
select {
  width: 90%;
  max-width: 450px;
  height: 2rem;
  border: 0;
  padding: .5rem;
  margin: .5rem auto;
  outline: 0 !important;
  border-radius: .5rem;
  text-align: center;
  color: black;
  background: #DCDCDC;
}

input[type=text] {
  width: 90%;
  max-width: 450px;
  height: 2rem;
  border: 0;
  padding: .5rem;
  outline: 0 !important;
  border-radius: .5rem;
  font-size: 2rem;
  text-align: center;
  color: black;
  background: #DCDCDC;
}

#user-init-input .button {
  width: 80%;
  max-width: 400px;
  margin: auto;
}

input[type=button].select {
  background: #E4F7BA;
}

select {
  font-size: 1.1rem;
  height: 2.5rem;
}
