#game-alert,
#game-confirm,
#game-prompt {
  display: none;
  position: fixed;
  z-index: 99999999;
  width: 70%;
  max-width: 450px;
  top: 0;
  left: 0;
  padding: 1rem;
  border-radius: .5rem;
  background: rgba(65,65,65,0.8);
  color: white;
}

a.button {
  cursor: pointer;
  display: block;
  padding: .5rem;
  margin: .5rem auto;
  border-radius: .5rem;
  background: rgba(65,65,65,0.8);
  text-align: center;
  color: white;
}

#game-alert a.button,
#game-confirm a.button,
#game-prompt a.button {
  margin: 2rem 0 .5rem 0;
}

#game-confirm div {
  text-align: center;
}

#game-confirm a.button {
  display: inline-block;
  width: 40%;
}

#confirm-yes {
  background: rgba(134,229,127,0.4);
}

#confirm-no {
  background: rgba(241,95,95,0.4);
}

#game-prompt {
  text-align: center;
  font-size: 1rem;
  margin: 2rem 0 0 0;
}

#game-prompt a.button {
  margin: 0;
}
