#article-data {
  display: none;
}

#notice-title {
  text-align: left;
}

#notice-description {
  line-height: 1.5rem;
  font-size: 1.2rem;
}

#notice section {
  width: 80%;
  height: auto !important;
  max-width: 850px;
  min-height: 1px;
  padding: 1rem;
  margin: .5rem auto;
}
