#game-list {
  margin: auto;
  border: 2px solid #e2e2e2;
  border-radius: 7px;
  padding: 1rem 0 1rem 0;
}

#game-list div {
  display: inline-block;
  width: 30%;
  max-width: 150px;
}

#game-list div img {
  max-width: 75%;
  border-radius: 15px;
}
