header {
  background: #2e2e2e;
  line-height: 0;
}

#logo,
#menu-btn {
  cursor: pointer;
}

#logo {
  width: 55px;
  margin: 3px;
}

#menu-btn {
  position: absolute;
  right: 13px;
  top: 13px;
  width: 35px;
}
