#phrase {
  margin: 2rem auto;
  font-size: 2.5rem;
  line-height: 1.2;
  text-align: center;
  padding: 6rem 3rem 6rem 3rem;
  background: rgba(255,255,255,0.4);
}

#words {
  margin-top: .5rem;
}

#menu {
  text-align: center;
}

#animation-logo {
  z-index: -1;
  position: sticky;
  top: 30vh;
  display: block;
  width: 80vw;
  max-width: 450px;
  margin: auto;
}

#catchphrase {
  display: block;
  width: 80%;
  max-width: 450px;
  padding: 1rem;
  margin: 3rem auto;
  font-size: 1.5rem;
  background: rgba(255,255,255,0.4);
  animation-duration: .5s;
  animation-fill-mode: both;
}

#catchphrase::after {
  content: '';

  animation-name: cursorOn;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);

  display: inline-block;
  vertical-align: bottom;
  width: .2rem;
  height: 1.5rem;
  background: #6799FF;
}

@keyframes cursorOn {
  50% {
    opacity: 0;
  }
}

.munu-btn {
  display: inline-block;
  width: 100px;
  padding: 10px;
  margin: 5px;
  border-radius: .5rem;
  text-align: center;
}

.munu-btn .title {
  padding-top: .5rem;
  font-size: .8rem;
}

.munu-btn img {
  width: 70%;
  border-radius: 0;
  margin: auto;
}
